In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] =False

In [7]:
df_ai_posts = pd.read_csv('./data/data_update_20250818/ai_posts_20250818.csv')
df_ai_posts.head()

,ai_keyword,ai_posts_start_of_week,ai_posts_post_detail,ai_posts_post_detail_kr
0,kim jong min,8/18/2025,The comments highlight a significant trend in ...,"댓글은 최근 예능 프로그램의 추세를 보여주며, 특히 김종민, 이상민, 김준호의 결혼..."
1,wonhee,8/11/2025,Social media comments reflect a protective sen...,"소셜 미디어 댓글은 엔터테인먼트 인사들에 대한 지지를 보여주고 있으며, 특히 팬들인..."
2,wonhee,8/18/2025,Fans highlighted her stable vocals and bright ...,"팬들은 무대 위에서의 안정된 보컬과 밝은 표정 연기를 높이 평가하였으며, 퍼포먼스 ..."
3,yoonchae,8/18/2025,Comments highlight that both Lisa and Yoonchae...,"리사와 윤채는 몸매를 강조하는 의상을 입고 있으며, 리사의 스커트와 윤채의 셔츠는 ..."
4,super junior,8/11/2025,The comment highlights a nostalgic moment from...,그 코멘트는 슈퍼주니어 클립이 재미있는 달고나 게임을 설명하는 데 사용되었던 예능 ...

In [6]:
df_keyword_frequency = pd.read_csv('./data/data_update_20250818/keyword_frequency_20250818.csv')
df_keyword_frequency.head()

,kf_id,kf_genre,kf_start_of_week,kf_keyword,kf_sentiment,kf_frequency,kf_post_continent,kf_genre_code,kf_post_continent_code
0,641439,variety,2025-08-18,ateez,-1,0,East Asia,3,1
1,641440,variety,2025-08-18,ateez,-1,0,Europe,3,5
2,641441,variety,2025-08-18,ateez,-1,0,Middle East,3,6
3,641442,variety,2025-08-18,ateez,-1,0,North America,3,3
4,641443,variety,2025-08-18,ateez,-1,0,South America,3,4

In [5]:
df_top_posts = pd.read_csv('./data/data_update_20250818/top_posts_20250818.csv')
df_top_posts.head()

,top_posts_post_id,top_posts_genre,top_posts_platform,top_posts_sentiment,top_posts_continent,top_posts_post_like,top_posts_post_view,top_posts_post_detail,top_posts_post_created_time,top_posts_post_source,top_posts_pc_check,top_posts_platform_code,top_posts_genre_code,top_posts_continent_code
0,4808567,variety,youtube,1,North America,121,0.0,He posted a handwritten letter on his fanclub ...,2025-08-18,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3
1,4808568,variety,youtube,0,North America,127,0.0,Edit: And a bunch of other people. And a lot p...,2025-08-18,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3
2,4808569,variety,youtube,0,North America,17,0.0,"Lee jang woo as well, and monika announced pre...",2025-08-18,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3
3,4808570,variety,youtube,0,North America,1,0.0,Omg Eun Ji Won got married? This is news!,2025-08-18,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3
4,4808571,variety,youtube,0,North America,1,0.0,Min kyung hoon the perpetual baby face,2025-08-19,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3

In [4]:
df_top_keywords = pd.read_csv('./data/data_update_20250818/top_keywords_20250818.csv')
df_top_keywords.head()

,tk_id,tk_genre,tk_genre_code,tk_keyword,tk_post_view,tk_post_like,tk_frequency,tk_time_period,tk_continent,tk_continent_code,tk_rank,tk_positive_post_id,tk_negative_post_id,tk_ai_summary,tk_ai_summary_kr,tk_time_period_date_start,tk_time_period_date_end,tk_updated_time
0,18091,variety,3,ahof,341463035.0,13035,1455,A,North America,3,1,"4443838, 4443836, 4443840, 4443870, 4443846, 4...","4444643, 4445881, 4444407, 4444443, 4443981",Comments on social media highlight the enthusi...,"팬들은 AHOF가 예능 프로그램에 출연하는 것에 대해 열정을 표현하며, 인터뷰어의 ...",7/19/2025,8/18/2025,8/18/2025 0:00
1,18092,variety,3,jaemin,152072157.0,16700,785,A,North America,3,2,"4442981, 4442838, 4442963, 4442897, 4442820, 4...","4445332, 4445338, 4445333",Jaemin's recent appearances on variety shows h...,"재민의 최근 예능 프로그램 출연은 팬들에게 큰 기쁨을 주었습니다. 그의 카리스마, ...",7/19/2025,8/18/2025,8/18/2025 0:00
2,18093,variety,3,wooyoung,203296263.0,9036,856,A,North America,3,3,"4353844, 4353847, 4353846, 4353848, 4353855, 4...","4354196, 4354206, 4354198",Wooyoung's recent appearance on a variety show...,우영의 최근 예능 출연이 소셜 미디어에서 많은 관심을 받았습니다. 그의 자연스러운 ...,7/19/2025,8/18/2025,8/18/2025 0:00
3,18094,variety,3,mingyu,487674065.0,120490,723,A,North America,3,4,"4532181, 4532185, 4532197, 4532174, 4532202, 4...","4532558, 4532546",Comments on social media reveal a strong appre...,소셜 미디어 댓글들은 밍규의 예능에서의 유머러스하고 장난기 많은 태도에 대한 강한 ...,7/19/2025,8/18/2025,8/18/2025 0:00
4,18095,variety,3,squid game,667829223.0,4205,668,A,North America,3,5,"4531890, 4532010, 4532104, 4532083, 4532031, 4...","4532899, 4442628, 4442397, 4442549, 4442526, 4...",The social media comments reflect a vibrant an...,오징어 게임'에 대한 소셜 미디어 댓글은 다음 시즌에 대한 기대와 비판이 섞여 있습...,7/19/2025,8/18/2025,8/18/2025 0:00