In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] =False

In [7]:
df_ai_posts = pd.read_csv('./data/data_update_20250818/ai_posts_20250818.csv')
df_ai_posts.head()

,ai_keyword,ai_posts_start_of_week,ai_posts_post_detail,ai_posts_post_detail_kr
0,kim jong min,8/18/2025,The comments highlight a significant trend in ...,"댓글은 최근 예능 프로그램의 추세를 보여주며, 특히 김종민, 이상민, 김준호의 결혼..."
1,wonhee,8/11/2025,Social media comments reflect a protective sen...,"소셜 미디어 댓글은 엔터테인먼트 인사들에 대한 지지를 보여주고 있으며, 특히 팬들인..."
2,wonhee,8/18/2025,Fans highlighted her stable vocals and bright ...,"팬들은 무대 위에서의 안정된 보컬과 밝은 표정 연기를 높이 평가하였으며, 퍼포먼스 ..."
3,yoonchae,8/18/2025,Comments highlight that both Lisa and Yoonchae...,"리사와 윤채는 몸매를 강조하는 의상을 입고 있으며, 리사의 스커트와 윤채의 셔츠는 ..."
4,super junior,8/11/2025,The comment highlights a nostalgic moment from...,그 코멘트는 슈퍼주니어 클립이 재미있는 달고나 게임을 설명하는 데 사용되었던 예능 ...

In [9]:
df_ai_posts['ai_keyword'].unique()

array(['kim jong min', 'wonhee', 'yoonchae', 'super junior', 'sophia',
       'kakao', 'lezhin', 'tapas', 'webtoons', 'manta',
       'return of the blossoming blade', 'bts', 'stray kids', 'blackpink',
       'lisa', 'jennie', 'nct', 'hybe', 'enhypen', 'newjeans', 'jisoo',
       'seventeen', 'tomorrow by together', 'saja boys', 'rosé', 'j-hope',
       'huntr/x', 'ateez', 'ive', 'felix', 'ahof', 'aespa', 'aria',
       'astro', 'babymonster', 'bruno mars', 'bts v', 'cha eun woo',
       'changbin', 'eunchae', 'exo', 'gfriend', 'got7', 'hyunjin', 'i.n',
       'illit', 'itzy', 'jeongyeon', 'jihyo', 'jungkook', 'jyp', 'kai',
       'karina', 'lee jun ho', 'lee know', 'leeseo', 'liz', 'lucy',
       'mina', 'moon bin', 'my name', 'nayeon', 'nmixx', 'oneus',
       'red velvet', 'ren', 'riize', 'sana', 'seo hyun', 'seung min',
       'soobin', 'suga', 'sung hoon', 't.o.p', 'taemin', 'the boyz',
       'wayv', 'wei', 'wonyoung', 'yeonjun', 'yujin', 'yuna', 'yunjin',
       'yuri', 'hae chan', 'hongjoong', 'rescene', 'ken', 'arin', 'h2h',
       'katseye', 'seulgi', 'shinee', 'yeji', 'le sserafim', 'sulli',
       'kiss of life', 'unis', 'gehlee', 'xikers', 'meovv', 'fifty fifty',
       'manon', 'giselle', 'bang chan', 'jungwon', 'triples', 'bobby',
       'kard', 'wonho', 'kpop demon hunters', 'tiger', 'zoe',
       'squid game', 'queen of tears', 'all of us are dead', 'vincenzo',
       'lovely runner', 'train to busan', 'lee min ho', 'the glory',
       'weak hero', 'crash landing on you', 'my demon', 'sweet home',
       'park bo gum', 'hospital playlist',
       'when life gives you tangerines', 'alchemy of souls',
       'love next door', 'k_contents', 'doctor slump',
       'extraordinary attorney woo', 'flower of evil', 'gong yoo',
       'i saw the devil', 'ji chang wook', 'jung hae in', 'kim da mi',
       'kim ji won', 'kim soo hyun', 'king the land', 'kingdom',
       'light shop', 'little women', 'marry my husband', 'my mister',
       'old boy', 'once again', 'our beloved summer', 'our blues',
       'park shin hye', 'park sung hoon', 'reply 1988', 'save me',
       'the witch', 'twinkling watermelon', 'yoo yeon seok',
       'study group', 'when the phone rings', 'lee byung hun',
       'kim sae ron', 'my dearest', 'lee dong wook', 'the frog',
       'bloodhounds', 'newtopia', 'suho', 'rowoon', 'lee jong suk',
       'bts jin', 'weak hero class 2', 'park ji hoon',
       'resident playbook', 'taxi driver', 'prison playbook',
       'while you were sleeping', 'revenge of others',
       'the uncanny counter', 'lee soo hyuk', 'buried hearts', 'mirae',
       'good boy', 'kim so hyun', 'lee jung jae', 'yim si wan',
       'our unwritten seoul', 'head over heels', 'kim go eun', 'wish you',
       'bibi', 'trigger'], dtype=object)

In [15]:
# 문자열 출력 최대 길이 무제한
pd.set_option('display.max_colwidth', None)

# 다시 출력
df_ai_posts[df_ai_posts['ai_keyword'] == 'bibi']['ai_posts_post_detail_kr']

205                                                                                                                                            비비'가 휴식을 취해야 한다고 유머러스하게 제안하며, 계속되는 '비비 사가'에 대한 좌절감을 장난스럽게 표현하고 있습니다.
206    타지 비비는 논란의 인물로 칭찬과 비판을 동시에 받고 있다. 많은 팬들은 그녀의 캐릭터와 연기를 칭찬하며 그녀의 연기를 멋지다고 부른다. 하지만 비평가들은 그녀가 종종 비호감 악역을 맡는다고 주장한다. 일부에서는 화면 속 불행보다 개인적인 행복을 우선해야 한다고 제안한다. 이러한 분열은 그녀의 캐릭터의 복잡성과 이야기 속 그녀의 역할에 대한 다른 견해를 보여준다.
Name: ai_posts_post_detail_kr, dtype: object

In [6]:
df_keyword_frequency = pd.read_csv('./data/data_update_20250818/keyword_frequency_20250818.csv')
df_keyword_frequency.head()

,kf_id,kf_genre,kf_start_of_week,kf_keyword,kf_sentiment,kf_frequency,kf_post_continent,kf_genre_code,kf_post_continent_code
0,641439,variety,2025-08-18,ateez,-1,0,East Asia,3,1
1,641440,variety,2025-08-18,ateez,-1,0,Europe,3,5
2,641441,variety,2025-08-18,ateez,-1,0,Middle East,3,6
3,641442,variety,2025-08-18,ateez,-1,0,North America,3,3
4,641443,variety,2025-08-18,ateez,-1,0,South America,3,4

In [18]:
df_keyword_frequency.shape

(5093, 9)

In [20]:
df_keyword_frequency['kf_frequency'].unique()

array([  0,   5,   1,   6,   2,  10,   8, 310, 209,  49,  33,  23,  13,
         3,   4,  66,  31,  12,   9, 501, 454, 108,  54,  24,  93,  53,
        11, 113,  77,  20,  55,  28,  17,  15,   7, 531, 458, 172,  79,
        16,  64,  22,  14])

In [16]:
df_keyword_frequency['kf_post_continent'].unique()

array(['East Asia', 'Europe', 'Middle East', 'North America',
       'South America', 'Southeast Asia'], dtype=object)

In [17]:
df_keyword_frequency['kf_keyword'].unique()

array(['ateez', 'babymonster', 'big bang', 'bts', 'bts jin', 'bts v',
       'enhypen', 'haru', 'hyunjin', 'jisoo', 'jungkook', 'karina',
       'katseye', 'kim jong min', 'kiss of life', 'lee dong wook',
       'lee know', 'lisa', 'manon', 'meovv', 'park bo gum', 'seventeen',
       'soobin', 'sophia', 'stray kids', 'super junior', 'wonhee',
       'wonyoung', 'wooyoung', 'yoonchae', 'yuri', 'lookism', 'mangadex',
       'return of the blossoming blade', 'tappytoon', 'true beauty',
       'kakao', 'lezhin', 'line', 'manta', 'tapas', 'webtoons', 'aespa',
       'astro', 'blackpink', 'bruno mars', 'cha eun woo', 'chen', 'dex',
       'ejae', 'exo', 'felix', 'gong yoo', 'good boy', 'head over heels',
       'huntr/x', 'illit', 'itzy', 'ive', 'j-hope', 'jennie', 'jihyo',
       'jyp', 'kai', 'ken', 'kingdom', 'kpop demon hunters',
       'lee byung hun', 'love triangle', 'lucy', 'mina', 'my demon',
       'my name', 'newjeans', 'nmixx', 'old boy', 'once again',
       'parasite', 'red velvet', 'reply 1988', 'rosé', 'saja boys',
       'save me', 'shinee', 'side effects', 'squid game', 'suga', 'suho',
       'sweet home', 'the frog', 'the glasses', 'trigger', 'wish you',
       'yeji', 'yeonjun', 'yujin', 'yuna', 'yunjin', 'alexa', 'bobby',
       'izna', 'lara', 'le sserafim', 'tiger', 'tomorrow by together',
       'zoe'], dtype=object)

In [22]:
# 국가별로 키워드 내림차순
df_keyword_frequency.groupby(['kf_post_continent','kf_keyword'])['kf_frequency'].sum().reset_index().sort_values(['kf_post_continent','kf_frequency'], ascending=[True, False])

    kf_post_continent   kf_keyword  kf_frequency
0           East Asia        aespa             0
1           East Asia        alexa             0
2           East Asia        astro             0
3           East Asia        ateez             0
4           East Asia  babymonster             0
..                ...          ...           ...
631    Southeast Asia        yujin             0
632    Southeast Asia         yuna             0
633    Southeast Asia       yunjin             0
634    Southeast Asia         yuri             0
635    Southeast Asia          zoe             0

[636 rows x 3 columns]

In [5]:
df_top_posts = pd.read_csv('./data/data_update_20250818/top_posts_20250818.csv')
df_top_posts.head()

,top_posts_post_id,top_posts_genre,top_posts_platform,top_posts_sentiment,top_posts_continent,top_posts_post_like,top_posts_post_view,top_posts_post_detail,top_posts_post_created_time,top_posts_post_source,top_posts_pc_check,top_posts_platform_code,top_posts_genre_code,top_posts_continent_code
0,4808567,variety,youtube,1,North America,121,0.0,He posted a handwritten letter on his fanclub ...,2025-08-18,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3
1,4808568,variety,youtube,0,North America,127,0.0,Edit: And a bunch of other people. And a lot p...,2025-08-18,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3
2,4808569,variety,youtube,0,North America,17,0.0,"Lee jang woo as well, and monika announced pre...",2025-08-18,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3
3,4808570,variety,youtube,0,North America,1,0.0,Omg Eun Ji Won got married? This is news!,2025-08-18,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3
4,4808571,variety,youtube,0,North America,1,0.0,Min kyung hoon the perpetual baby face,2025-08-19,https://old.reddit.com/r/koreanvariety/comment...,1,1,3,3

In [4]:
df_top_keywords = pd.read_csv('./data/data_update_20250818/top_keywords_20250818.csv')
df_top_keywords.head()

,tk_id,tk_genre,tk_genre_code,tk_keyword,tk_post_view,tk_post_like,tk_frequency,tk_time_period,tk_continent,tk_continent_code,tk_rank,tk_positive_post_id,tk_negative_post_id,tk_ai_summary,tk_ai_summary_kr,tk_time_period_date_start,tk_time_period_date_end,tk_updated_time
0,18091,variety,3,ahof,341463035.0,13035,1455,A,North America,3,1,"4443838, 4443836, 4443840, 4443870, 4443846, 4...","4444643, 4445881, 4444407, 4444443, 4443981",Comments on social media highlight the enthusi...,"팬들은 AHOF가 예능 프로그램에 출연하는 것에 대해 열정을 표현하며, 인터뷰어의 ...",7/19/2025,8/18/2025,8/18/2025 0:00
1,18092,variety,3,jaemin,152072157.0,16700,785,A,North America,3,2,"4442981, 4442838, 4442963, 4442897, 4442820, 4...","4445332, 4445338, 4445333",Jaemin's recent appearances on variety shows h...,"재민의 최근 예능 프로그램 출연은 팬들에게 큰 기쁨을 주었습니다. 그의 카리스마, ...",7/19/2025,8/18/2025,8/18/2025 0:00
2,18093,variety,3,wooyoung,203296263.0,9036,856,A,North America,3,3,"4353844, 4353847, 4353846, 4353848, 4353855, 4...","4354196, 4354206, 4354198",Wooyoung's recent appearance on a variety show...,우영의 최근 예능 출연이 소셜 미디어에서 많은 관심을 받았습니다. 그의 자연스러운 ...,7/19/2025,8/18/2025,8/18/2025 0:00
3,18094,variety,3,mingyu,487674065.0,120490,723,A,North America,3,4,"4532181, 4532185, 4532197, 4532174, 4532202, 4...","4532558, 4532546",Comments on social media reveal a strong appre...,소셜 미디어 댓글들은 밍규의 예능에서의 유머러스하고 장난기 많은 태도에 대한 강한 ...,7/19/2025,8/18/2025,8/18/2025 0:00
4,18095,variety,3,squid game,667829223.0,4205,668,A,North America,3,5,"4531890, 4532010, 4532104, 4532083, 4532031, 4...","4532899, 4442628, 4442397, 4442549, 4442526, 4...",The social media comments reflect a vibrant an...,오징어 게임'에 대한 소셜 미디어 댓글은 다음 시즌에 대한 기대와 비판이 섞여 있습...,7/19/2025,8/18/2025,8/18/2025 0:00