In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 해외 한류콘텐츠 소비자 조사

| 순서 | 컬럼영문명         | 컬럼한글명     | 데이터타입 | 길이   | PK여부 | NOT NULL여부 |
|------|--------------------|----------------|------------|--------|--------|---------------|
| 1    | COUNTRY_NM         | 국가명         | VARCHAR    | 200    | N      | Y             |
| 2    | COUNTRY_RANK_NM    | 국가순위명     | VARCHAR    | 200    | N      | Y             |
| 3    | ALL_TOTAL_CO       | 전체총합수     | DECIMAL    | 38     | N      | N             |
| 4    | MALE_RATE          | 남자비율       | DECIMAL    | 28,5   | N      | N             |
| 5    | FEMALE_RATE        | 여자비율       | DECIMAL    | 28,5   | N      | N             |
| 6    | ALL_N10S_RATE      | 전체10대비율   | DECIMAL    | 28,5   | N      | N             |
| 7    | ALL_N20S_RATE      | 전체20대비율   | DECIMAL    | 28,5   | N      | N             |
| 8    | ALL_N30S_RATE      | 전체30대비율   | DECIMAL    | 28,5   | N      | N             |
| 9    | ALL_N40S_RATE      | 전체40대비율   | DECIMAL    | 28,5   | N      | N             |
| 10   | ALL_N50S_RATE      | 전체50대비율   | DECIMAL    | 28,5   | N      | N             |
| 11   | EXAMIN_COUNTRY_NM  | 조사국가명     | VARCHAR    | 200    | N      | Y             |
| 12   | REPRT_YEAR_CN      | 보고서년도내용 | VARCHAR    | 500    | N      | Y             |
| 13   | CNTNTS_URL         | 콘텐츠URL      | VARCHAR    | 500    | N      | Y             |

In [2]:

# - 국내 유일의 해외 한류콘텐츠 소비자 조사 자료인 해외한류실태조사를 연도별, 국가별로 통합 가공한 데이터
# - 특정 질문에 대한 중국, 일본, 대만 등 총 14~17개국의 응답결과를 알 수 있음
# - Q. 귀하의 국가에서 인기 있는 문화콘텐츠는 어느 국가의 문화콘텐츠입니까?
# - n(조사 응답자)값은 연도별로 차이가 있음
# - 수치 단위는 % 이며, 표본 수를 전체, 성별, 연령대별로 나눈 응답비율임
# ㅇ 데이터출처
# - 한국국제문화교류진흥원 (http:/kofice.or.kr)의 해외한류실태조사 결과보고서

df_korea_oversea_info = pd.read_csv('./data/KC_KOREA_OVSEA_CNTNTS_INFO_2024.csv')
df_korea_oversea_info.head(30)

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
0,한국,1순위,41.0,39.1,43.0,37.3,41.3,43.2,37.8,63.2,중국,2020,드라마
1,미국,2순위,38.0,40.8,35.7,38.2,40.5,36.0,40.8,26.3,중국,2020,드라마
2,일본,3순위,15.0,15.5,14.0,20.0,14.0,16.8,10.2,0.0,중국,2020,드라마
3,한국,1순위,47.0,42.9,51.4,44.7,54.1,48.6,34.9,68.8,중국,2020,예능
4,미국,2순위,27.0,29.6,25.0,30.9,22.0,27.5,31.3,18.8,중국,2020,예능
5,일본,3순위,19.0,21.2,16.3,20.2,17.4,17.4,24.1,0.0,중국,2020,예능
6,미국,1순위,60.0,62.1,57.3,66.7,62.0,58.2,57.5,25.0,중국,2020,영화
7,한국,2순위,25.0,25.8,24.8,18.9,25.0,26.4,25.0,56.3,중국,2020,영화
8,일본,3순위,11.0,10.1,12.6,12.2,9.3,11.8,13.8,6.3,중국,2020,영화
9,미국,1순위,73.0,77.5,68.6,59.5,73.6,81.6,76.9,75.0,일본,2020,드라마
10,한국,2순위,21.0,14.4,26.7,27.8,23.0,13.8,17.9,20.0,일본,2020,드라마
11,영국,3순위,4.0,3.8,3.5,6.3,1.1,2.3,5.1,5.0,일본,2020,드라마
12,미국,1순위,71.0,75.8,66.3,67.3,62.0,81.3,70.8,77.8,일본,2020,예능
13,한국,2순위,20.0,15.4,24.8,21.2,26.0,12.5,29.2,11.1,일본,2020,예능
14,영국,3순위,5.0,3.3,6.9,3.8,8.0,4.2,0.0,11.1,일본,2020,예능
15,미국,1순위,86.0,83.6,87.5,74.1,86.7,88.0,84.8,97.1,일본,2020,영화
16,한국,2순위,7.0,7.9,5.9,12.1,8.0,4.0,6.1,2.9,일본,2020,영화
17,영국,3순위,5.0,4.3,5.9,6.9,2.7,6.7,9.1,0.0,일본,2020,영화
18,한국,1순위,36.0,26.3,45.9,40.5,35.8,39.7,29.6,27.5,대만,2020,드라마
19,미국,2순위,24.0,29.2,19.4,23.3,32.5,19.8,22.2,20.0,대만,2020,드라마
20,일본,3순위,23.0,31.4,15.7,19.8,20.8,28.1,27.2,20.0,대만,2020,드라마
21,일본,1순위,32.0,38.9,26.6,26.2,30.3,38.3,34.8,35.7,대만,2020,예능
22,한국,2순위,29.0,20.2,36.9,28.0,35.8,29.9,23.2,17.9,대만,2020,예능
23,중국,3순위,24.0,25.8,22.5,31.8,19.3,19.6,20.3,39.3,대만,2020,예능
24,미국,1순위,69.0,65.6,72.1,65.2,71.3,73.6,65.8,63.6,대만,2020,영화
25,일본,2순위,10.0,12.8,8.2,13.0,11.3,7.4,10.5,9.1,대만,2020,영화
26,중국,3순위,10.0,11.9,7.7,12.2,5.2,8.3,11.8,18.2,대만,2020,영화
27,한국,1순위,46.0,37.2,53.1,33.0,48.3,55.4,46.1,36.7,태국,2020,드라마
28,미국,2순위,29.0,35.3,23.5,38.8,21.2,24.0,32.6,36.7,태국,2020,드라마
29,중국,3순위,12.0,10.6,13.2,6.8,16.1,9.9,11.2,23.3,태국,2020,드라마

In [3]:
# 컨텐츠 종류
df_korea_oversea_info['CNTNTS_URL'].unique()

array(['드라마', '예능', '영화', '음악', '애니메이션', '출판물', '게임', '패션', '뷰티', '음식',
       '웹툰', '애니메인션'], dtype=object)

In [4]:
# 조사 연도
df_korea_oversea_info['REPRT_YEAR_CN'].unique()

array([2020, 2019, 2021, 2022, 2023, 2024])

In [5]:
# 조사 국가
df_korea_oversea_info['EXAMIN_COUNTRY_NM'].unique()

array(['중국', '일본', '대만', '태국', '말레이시아', '인도네시아', '인도', '베트남', '호주', '미국',
       '브라질', '프랑스', '영국', '러시아', '터키', 'UAE', '남아공', '아르헨티나', '카자흐스탄',
       '캐나다', '멕시코', '이탈리아', '스페인', '독일', '튀르키예', '사우디아라비아', '이집트'],
      dtype=object)

In [6]:
# 미국의 음악 컨텐츠 선호도
df_america = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '미국') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_america[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
1212         한국             1순위          56.0           2021
1213         영국             2순위          52.0           2021
1214         일본             3순위          24.0           2021
1215         중국             4순위          16.0           2021
1216       이탈리아             5순위          14.0           2021
1217         독일             6순위          12.0           2021
1218        프랑스             7순위          11.0           2021
1219         미국             8순위           0.0           2021
1220         기타             9순위          10.0           2021
3002         한국             1순위          55.0           2022
3003         영국             2순위          43.0           2022
3004         일본             3순위          33.0           2022
3005         중국             4순위          26.0           2022
3006        프랑스             5순위          19.0           2022
3007         독일             6순위          18.0           2022
3008       이탈리아             7순위          16.0           2022
3009         기타             8순위           6.0           2022
5031         한국             1순위          65.0           2023
5032         영국             2순위          60.0           2023
5033         일본             3순위          30.0           2023
5034        프랑스             4순위          16.0           2023
5035         독일             5순위          14.0           2023
5036       이탈리아             6순위          13.0           2023
5037         중국             7순위          11.0           2023
5038         기타             8순위           7.0           2023
7992         한국             1순위          68.0           2024
7993         영국             2순위          57.0           2024
7994         일본             3순위          38.0           2024
7995        프랑스             4순위          17.0           2024
7996         독일             6순위          14.0           2024
7997       이탈리아             5순위          14.0           2024
7998         중국             7순위          10.0           2024
7999         기타             8순위           6.0           2024

- 2022년도에서 2023년도에 한국의 비중이 10% 상승! 그 이후엔 3% 상승
    - 어떤 연령, 성비에서 증가했을까?

In [7]:
df_america[df_america['COUNTRY_NM'] == '한국']

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
1212,한국,1순위,56.0,58.5,54.0,61.3,58.9,58.1,50.0,34.4,미국,2021,음악
3002,한국,1순위,55.0,53.9,56.3,58.4,50.0,59.2,55.6,50.0,미국,2022,음악
5031,한국,1순위,65.0,61.2,68.1,67.8,64.5,61.4,64.8,65.5,미국,2023,음악
7992,한국,1순위,68.0,69.5,67.4,68.6,71.8,66.3,68.2,64.2,미국,2024,음악

---

In [8]:
# 브라질의 음악 컨텐츠 선호도
df_brazil = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '브라질') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_brazil[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
1310         미국             1순위          89.0           2021
1311         한국             2순위          37.0           2021
1312         영국             3순위          36.0           2021
1313         일본             4순위          13.0           2021
1314       이탈리아             5순위           9.0           2021
1315        프랑스             6순위           8.0           2021
1316         중국             7순위           4.0           2021
1317         독일             8순위           4.0           2021
1318         기타             9순위           6.0           2021
3097         미국             1순위          88.0           2022
3098         한국             2순위          44.0           2022
3099         영국             3순위          31.0           2022
3100       이탈리아             4순위          12.0           2022
3101         일본             5순위          12.0           2022
3102        프랑스             6순위           6.0           2022
3103         독일             7순위           5.0           2022
3104         중국             8순위           4.0           2022
3105         기타             9순위           8.0           2022
5368         미국             1순위          88.0           2023
5369         한국             2순위          51.0           2023
5370         영국             3순위          40.0           2023
5371       이탈리아             4순위          15.0           2023
5372         일본             5순위          13.0           2023
5373        프랑스             6순위           8.0           2023
5374         중국             7순위           6.0           2023
5375         독일             8순위           3.0           2023
5376         기타             9순위           4.0           2023
8341         미국             1순위          86.0           2024
8342         한국             2순위          59.0           2024
8343         영국             3순위          35.0           2024
8344         일본             4순위          16.0           2024
8345       이탈리아             5순위          13.0           2024
8346        프랑스             6순위           7.0           2024
8347         중국             7순위           6.0           2024
8348         독일             8순위           4.0           2024
8349         기타             9순위           1.0           2024

In [9]:
df_brazil[df_brazil['COUNTRY_NM'] == '한국']

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
1311,한국,2순위,37.0,38.6,36.2,32.5,35.4,46.2,45.7,25.0,브라질,2021,음악
3098,한국,2순위,44.0,41.4,46.0,46.8,44.9,56.6,25.7,27.3,브라질,2022,음악
5369,한국,2순위,51.0,46.1,56.3,53.2,60.5,40.1,53.9,33.3,브라질,2023,음악
8342,한국,2순위,59.0,50.6,67.7,55.6,72.7,59.9,47.5,42.9,브라질,2024,음악

---

In [10]:
# TAIWAN 의 음악 컨텐츠 선호도
df_taiwan = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '태국') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_taiwan[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
618          한국             1순위          78.0           2021
619          미국             2순위          71.0           2021
620          일본             3순위          35.0           2021
621          영국             4순위          29.0           2021
622          중국             5순위          25.0           2021
623         프랑스             6순위           3.0           2021
624        이탈리아             7순위           3.0           2021
625          독일             8순위           2.0           2021
626          기타             9순위           5.0           2021
2386         한국             1순위          80.0           2022
2387         미국             2순위          60.0           2022
2388         일본             3순위          36.0           2022
2389         중국             4순위          26.0           2022
2390         영국             5순위          23.0           2022
2391        프랑스             6순위           6.0           2022
2392         독일             7순위           4.0           2022
2393       이탈리아             8순위           3.0           2022
2394         기타             9순위           2.0           2022
4234         한국             1순위          88.0           2023
4235         미국             2순위          62.0           2023
4236         일본             3순위          44.0           2023
4237         중국             4순위          38.0           2023
4238         영국             5순위          22.0           2023
4239        프랑스             6순위           5.0           2023
4240         독일             7순위           2.0           2023
4241       이탈리아             8순위           2.0           2023
4242         기타             9순위           1.0           2023
7167         한국             1순위          91.0           2024
7168         미국             2순위          63.0           2024
7169         일본             3순위          42.0           2024
7170         중국             4순위          38.0           2024
7171         영국             5순위          25.0           2024
7172        프랑스             6순위           3.0           2024
7173       이탈리아             7순위           2.0           2024
7174         독일             9순위           1.0           2024
7175         기타             8순위           2.0           2024

In [ ]:
df_taiwan[df_taiwan['COUNTRY_NM'] == '한국']

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
618,한국,1순위,78.0,70.5,84.8,80.3,75.4,79.2,75.0,78.6,태국,2021,음악
2386,한국,1순위,80.0,76.0,84.4,78.8,78.7,84.7,81.3,75.8,태국,2022,음악
4234,한국,1순위,88.0,83.8,91.2,86.8,87.9,91.7,82.9,86.2,태국,2023,음악
7167,한국,1순위,91.0,89.4,91.7,92.0,97.8,86.8,89.3,85.7,태국,2024,음악

---

In [11]:
# 호주 의 음악 컨텐츠 선호도
df_AU = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '호주') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_AU[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
1111         미국             1순위          79.0           2021
1112         영국             2순위          57.0           2021
1113         한국             3순위          34.0           2021
1114        프랑스             4순위          12.0           2021
1115         일본             5순위          11.0           2021
1116         중국             6순위           9.0           2021
1117         독일             7순위           8.0           2021
1118       이탈리아             8순위           6.0           2021
1119         기타             9순위           5.0           2021
2900         미국             1순위          67.0           2022
2901         영국             2순위          48.0           2022
2902         한국             3순위          37.0           2022
2903         일본             4순위          22.0           2022
2904         독일             5순위          16.0           2022
2905         중국             6순위          15.0           2022
2906       이탈리아             7순위          15.0           2022
2907        프랑스             8순위          10.0           2022
2908         기타             9순위           1.0           2022
4919         미국             1순위          79.0           2023
4920         영국             2순위          64.0           2023
4921         한국             3순위          41.0           2023
4922         일본             4순위          13.0           2023
4923         독일             5순위          10.0           2023
4924       이탈리아             6순위          10.0           2023
4925        프랑스             7순위           8.0           2023
4926         중국             8순위           6.0           2023
4927         기타             9순위           2.0           2023
7875         미국             1순위          88.0           2024
7876         영국             2순위          71.0           2024
7877         한국             3순위          42.0           2024
7878         일본             5순위           8.0           2024
7879        프랑스             4순위           8.0           2024
7880         중국             6순위           7.0           2024
7881       이탈리아             8순위           7.0           2024
7882         독일             7순위           6.0           2024
7883         기타             9순위           3.0           2024

In [12]:
# 영국의 음악 컨텐츠 선호도
df_UK = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '영국') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_UK[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
1599         미국             1순위          83.0           2021
1600         한국             2순위          30.0           2021
1601        프랑스             3순위          19.0           2021
1602         일본             4순위          16.0           2021
1603       이탈리아             5순위          14.0           2021
1604         독일             6순위          14.0           2021
1605         중국             7순위           8.0           2021
1606         기타             8순위           4.0           2021
3395         미국             1순위          73.0           2022
3396         한국             2순위          46.0           2022
3397        프랑스             3순위          26.0           2022
3398       이탈리아             4순위          20.0           2022
3399         일본             5순위          19.0           2022
3400         독일             6순위          16.0           2022
3401         중국             7순위          13.0           2022
3402         기타             8순위           3.0           2022
5592         기타            10순위           2.0           2023
5593         미국             1순위          85.0           2023
5594         한국             2순위          50.0           2023
5595         일본             3순위          20.0           2023
5596        프랑스             4순위          15.0           2023
5597       이탈리아             5순위          14.0           2023
5598         독일             6순위           9.0           2023
5599         중국             7순위           9.0           2023
5600         기타             8순위           3.0           2023
8684         미국             1순위          90.0           2024
8685         한국             2순위          46.0           2024
8686        프랑스             3순위          19.0           2024
8687         일본             4순위          16.0           2024
8688       이탈리아             5순위          10.0           2024
8689         독일             6순위           9.0           2024
8690         중국             7순위           5.0           2024
8691         기타             8순위           4.0           2024

In [13]:
df_UK[df_UK['COUNTRY_NM'] == '한국']

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
1600,한국,2순위,30.0,27.3,33.1,44.3,21.5,27.3,26.1,23.3,영국,2021,음악
3396,한국,2순위,46.0,49.0,43.4,50.0,44.4,41.1,54.5,43.5,영국,2022,음악
5594,한국,2순위,50.0,48.4,50.9,51.4,47.5,55.0,54.9,33.9,영국,2023,음악
8685,한국,2순위,46.0,45.5,47.2,50.7,43.7,47.5,47.1,39.7,영국,2024,음악

In [14]:
df_UK[df_UK['COUNTRY_NM'] == '미국']

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
1599,미국,1순위,83.0,86.0,79.6,98.7,72.3,75.8,60.9,93.3,영국,2021,음악
3395,미국,1순위,73.0,73.5,72.6,80.4,63.0,71.4,77.3,78.3,영국,2022,음악
5593,미국,1순위,85.0,85.2,85.1,92.3,75.5,80.2,92.2,96.4,영국,2023,음악
8684,미국,1순위,90.0,88.8,90.7,89.6,87.3,89.1,96.1,91.4,영국,2024,음악

---

In [15]:
# 캐나다의 음악 컨텐츠 선호도
df_canada = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '캐나다') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_canada[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
5139         미국             1순위          90.0           2023
5140         영국             2순위          56.0           2023
5141         한국             3순위          42.0           2023
5142        프랑스             4순위          14.0           2023
5143         일본             5순위          11.0           2023
5144         중국             6순위           5.0           2023
5145       이탈리아             7순위           4.0           2023
5146         독일             8순위           4.0           2023
5147         기타             9순위           2.0           2023
8104         미국             1순위          90.0           2024
8105         영국             2순위          55.0           2024
8106         한국             3순위          41.0           2024
8107         일본             4순위          14.0           2024
8108        프랑스             5순위          10.0           2024
8109       이탈리아             6순위           5.0           2024
8110         중국             7순위           4.0           2024
8111         독일             8순위           3.0           2024
8112         기타             9순위           3.0           2024

In [21]:
df_canada[df_canada['COUNTRY_NM'] == '한국']

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
5141,한국,3순위,42.0,40.9,42.2,42.6,45.9,40.8,48.4,22.8,캐나다,2023,음악
8106,한국,3순위,41.0,38.7,43.4,36.4,46.0,42.7,43.9,33.3,캐나다,2024,음악

---

In [16]:
# 프랑스의 음악 컨텐츠 선호도
df_france = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '프랑스') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_france[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
1507         미국             1순위          76.0           2021
1508         영국             2순위          51.0           2021
1509         한국             3순위          28.0           2021
1510       이탈리아             4순위          17.0           2021
1511         일본             5순위          14.0           2021
1512         독일             6순위          11.0           2021
1513         중국             7순위          11.0           2021
1514         기타             8순위           8.0           2021
3301         미국             1순위          76.0           2022
3302         영국             2순위          51.0           2022
3303         한국             3순위          26.0           2022
3304         일본             4순위          17.0           2022
3305       이탈리아             5순위          14.0           2022
3306         중국             6순위          11.0           2022
3307         독일             7순위           8.0           2022
3308         기타             8순위           4.0           2022
5699         미국             1순위          80.0           2023
5700         영국             2순위          54.0           2023
5701         한국             3순위          32.0           2023
5702       이탈리아             4순위          18.0           2023
5703         일본             5순위          12.0           2023
5704         독일             6순위          11.0           2023
5705         중국             7순위           7.0           2023
5706         기타             8순위           2.0           2023
8575         미국             1순위          79.0           2024
8576         영국             2순위          58.0           2024
8577         한국             3순위          45.0           2024
8578       이탈리아             4순위          17.0           2024
8579         일본             5순위          16.0           2024
8580         중국             6순위          10.0           2024
8581         독일             7순위           8.0           2024
8582         기타             8순위           2.0           2024

In [20]:
df_france[df_france['COUNTRY_NM'] == '한국']

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
1509,한국,3순위,28.0,24.0,31.4,32.4,28.2,29.9,22.0,13.3,프랑스,2021,음악
3303,한국,3순위,26.0,24.2,28.7,26.8,29.2,22.4,30.8,20.0,프랑스,2022,음악
5701,한국,3순위,32.0,28.8,34.2,34.4,36.4,25.3,28.3,27.8,프랑스,2023,음악
8577,한국,3순위,45.0,43.0,46.8,48.0,48.5,42.4,43.1,35.9,프랑스,2024,음악

---

In [17]:
# 멕시코의 음악 컨텐츠 선호도
df_mexico = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '멕시코') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_mexico[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
5255         미국             1순위          88.0           2023
5256         한국             2순위          62.0           2023
5257         영국             3순위          34.0           2023
5258         일본             4순위          22.0           2023
5259        프랑스             5순위          10.0           2023
5260         중국             6순위           9.0           2023
5261       이탈리아             7순위           6.0           2023
5262         독일             8순위           6.0           2023
5263         기타             9순위           4.0           2023
8224         미국             1순위          88.0           2024
8225         한국             2순위          65.0           2024
8226         영국             3순위          32.0           2024
8227         일본             4순위          22.0           2024
8228         중국             5순위          12.0           2024
8229        프랑스             7순위           9.0           2024
8230       이탈리아             6순위           8.0           2024
8231         독일             8순위           5.0           2024
8232         기타             9순위           5.0           2024

In [18]:
# 독일의 음악 컨텐츠 선호도
df_germany = df_korea_oversea_info[(df_korea_oversea_info['EXAMIN_COUNTRY_NM'] == '독일') & (df_korea_oversea_info['CNTNTS_URL'] == '음악')]
df_germany[['COUNTRY_NM', 'COUNTRY_RANK_NM', 'ALL_TOTAL_CO', 'REPRT_YEAR_CN']]

     COUNTRY_NM COUNTRY_RANK_NM  ALL_TOTAL_CO  REPRT_YEAR_CN
6024         미국             1순위          85.0           2023
6025         영국             2순위          67.0           2023
6026         한국             3순위          32.0           2023
6027        프랑스             4순위          29.0           2023
6028       이탈리아             5순위          22.0           2023
6029         일본             6순위          10.0           2023
6030         중국             7순위           6.0           2023
6031         기타             8순위           1.0           2023
8794         미국             1순위          86.0           2024
8795         영국             2순위          67.0           2024
8796         한국             3순위          35.0           2024
8797       이탈리아             4순위          22.0           2024
8798        프랑스             5순위          21.0           2024
8799         일본             6순위          11.0           2024
8800         중국             7순위           5.0           2024
8801         기타             8순위           2.0           2024

In [22]:
df_germany[df_germany['COUNTRY_NM'] == '한국']

,COUNTRY_NM,COUNTRY_RANK_NM,ALL_TOTAL_CO,MALE_RATE,FEMALE_RATE,ALL_N10S_RATE,ALL_N20S_RATE,ALL_N30S_RATE,ALL_N40S_RATE,ALL_N50S_RATE,EXAMIN_COUNTRY_NM,REPRT_YEAR_CN,CNTNTS_URL
6026,한국,3순위,32.0,33.3,30.0,27.9,36.5,27.1,36.7,32.4,독일,2023,음악
8796,한국,3순위,35.0,32.9,37.8,37.2,44.2,32.4,22.6,25.5,독일,2024,음악

---